.memo1{
  margin-top: 10px;
  width:300px;
  height:300px;
}

.btt14{
  margin-left:5px;
  border:none;
  background-color:#fef9ff;
  margin-left:200px;
}

.p1{
  margin-left:20px;
  margin-top:10px;
}
