.imglogo1{
  margin-left: 5px;
}

.btt11{
  border:none;
  background-color:white;
}

.inp1{
  margin-top:5px;
}

.inp2{
  color: gainsboro;
  margin-right: 5px;
}

.sel1{
  margin-left:40px;
  width:300px;
  height:30px;
}
